.example-table{
     display: table;
     width: 100%;
     background-color: lightgray;
    
    }

    .example-table-row{
        display: table-row;
       

    }
   
    .example-table-cell{
        display: table-cell;
        padding: 5px;
        background-color: lightblue;
       

    }



